# Visual Studio
.vs/
.vscode/
out/

# CLion
.idea/

# The paths for CI and command line cmake
build/
cmake-build-*/
conan/
prefix/

# Oopsie macOS
**/.DS_Store

# Do not check in
CMakeLists.txt.user
CMakeSettings.json
CMakeUserPresets.json

# Example app database
database.db
